<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/" icon="assets/icon/icon-back.svg"></ion-back-button>
    </ion-buttons>
    <ion-title>Credit Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let card of cards">
      <ion-row>
        <ion-col>
          <img src="assets/icon/icon-card.svg" height="30px">
        </ion-col>
        <ion-col>
          <ion-label style="display:block;font-size: 14px;">{{card.cardnumber}}</ion-label>
        </ion-col>
        <ion-col>
          <!-- <ion-button mode="ios" color="light" (click)="delete(card)"> -->
            <img src="assets/icon/icon-delete.svg" height="30px"/>
          <!-- </ion-button> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="display:block;font-size: 14px;">{{card.expirydate}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
    
  <ion-grid class="back_all">
    <ion-row>
      <ion-col>
        <ion-button expand="full" class="button-green add-button" color="button_color"
          (click)="logOut()">
          +
          <br><br>
          Add New Credit Card
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
