ion-title {
  text-align: center;
  --color: rgb(235, 129, 40);

}

.order_btn {
  // background: #c53535;
  // color: #fff;
  border-radius: 30px;
  padding-left: 25px;
  padding-right: 25px;
  // margin-top: 30px;
}